<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
    colors="true"
    stopOnFailure="false">

    <php>
        <server name="DB_HOST" value="localhost" />
        <server name="DB_DATABASE" value="ismis_db" />
        <server name="DB_USERNAME" value="root" />
        <server name="DB_PASSWORD" value="" />
    </php>

    <testsuites>
        <testsuite name="ismis">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

</phpunit>